.checkedMark {
  display: none;
}

/* input:checked */

input:checked~.checkedMark {
  display: inline-block;
}

@keyframes updown {
  from {
    transform: translateY(-2px);
  }

  to {
    transform: translateY(2px);
  }
}

@keyframes downup {
  from {
    transform: translateY(2px);
  }

  to {
    transform: translateY(-2px);
  }
}